body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form label {
  font-size: 12px;
}

.form p {
  font-size: 12px;
}

.form input {
  padding: 5px;
}